.project-markers
	each p in projects
		a.marker-link(href="##{p.id}")
			div(class="marker project-marker-#{p.id}")
			.project-bubble.is-hidden
				h4 #{p.name}
				
.container.projects
	each p in projects
		.fixie-spacer(id="#{p.id}")
		article.project(class="project-#{p.id}")
			.project-part.project-desc
				.fixie(data-marker="project-marker-#{p.id}")
					p #{p.desc}
					a(href="http://#{p.url}")
						button.button View Site
			.project-part.project-imgs
				- for (var i = 0; i < p.imgs; ++i)
					.project-img
						.loading.center-container
							svg.loading-img(version='1.2', baseprofile='tiny', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
								path(fill='#555', d='M15.51.577l84.074 84.074-15.556 15.556-84.074-84.074zM99.609 16.162l-84.074 84.074-15.556-15.556 84.074-84.074z')
						img(src = '/img/projects/#{p.id}_0#{i+1}.small.min.png', alt = '')
		.fixie-spacer
				